<div class="tit01">
      <h3>关注我</h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="{{ WEIBO_SINA }}" target="_blank">新浪微博</a></li>
          <li><a class="csdn" href="{{ CSDN_BLOG }}" target="_blank">CSDN博客</a></li>
          <li><a class="rss" href="{{ PRO_RSS }}" target="_blank">RSS</a></li>
            <!--  实现QQ临时通话https://blog.csdn.net/wbbott/article/details/53107009  -->
          <li> <a class="wx"  href="http://wpa.qq.com/msgrd?v=3
          &uin=2480734160&site=qq&menu=yes" target="_blank">QQ我吧</a></li>
        </ul>
      </div>
</div>
<!--tit01 end-->